body {
    /* margin: 0 auto; */
    font-family: sans-serif;
    background-color: #FFF8E7;
}

.past {
    padding: 10px;
    border: 2px solid white;
    box-shadow: -5px 5px 10px 5px gray;
    transition: 0.5s;

}

.past:hover {
    border-radius: 10px;
    transform: scale(1.05);
}

.past p {
    margin-left: 20px;
}

.block img:hover {
    transition: 0.5;
    border-radius: 20px;
}

.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.past img:hover {
    transition: 0.5s;
}

.past img {
    transition: 0.5s;
}
img{
    width: 300px;
    height: 300px;
}
button{
    background-color: #FFCE5D;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    
}