body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff8e7;
}

/* шапка */

header {
  padding: 20px;
  background-color: #d9d9d9a3;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.intro {
  font-size: 50px;
  background-image: url(./assets/intro-img.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #d9d9d9;
}

.intro h1 {
  text-align: center;
  margin: 0;
  font-size: 192px;
}

.intro-inner {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  width: 100%;
  margin: 50px auto 0;
}

.intro-slogan {
  font-size: 30px;
  padding-left: 15px;
  border-left: 5px solid #d9d9d9;
}

.intro-slogan p {
  margin: 0;
  font-size: 42px;
}

.intro-button {
  align-self: flex-end;
}

.intro-button button {
  font-size: 20px;
  /* border-radius: 10px; */
  color: #353535;
  background-color: #d9d9d9;
  border: 0;
  padding: 8px 30px;
  font-size: 32px;
}

/* Корзина */

* {
  box-sizing: border-box;
}

.delete {
  background: red;
  color: white;
  border: white solid 0px;
  margin-left: auto;
  margin-top: auto;
  padding: 5px 20px;
  cursor: pointer;
}

.osnova {
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart {
  padding: 10px;
  background-color: #d9d9d9;
  max-width: 600px;
  position: absolute;
  width: 100%;
  right: 0;
  top: 110px;
}

.img_card {
  width: 188px;
  height: 125px;
}

.tovar {
  gap: 10px;
  background-color: white;
  padding: 10px;
  display: flex;
  width: 100%;
  align-items: center;
}

.order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  margin: auto;
}

.name {
  position: relative;
  top: 0px;
  right: auto;
}

.zakaz {
  background-color: #2bce02;
  border: #2bce02 solid 0px;
  color: white;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

.empty_cart{
  text-align: center;
  font-size: 24px;
}

.hide {
  display: none;
}

/* Кароточки */

.past {
  padding: 10px;
  border: 2px solid white;
  box-shadow: -5px 5px 10px 5px gray;
  transition: 0.5s;
}

.past:hover {
  border-radius: 10px;
  transform: scale(1.05);
}

.past p {
  margin-left: 20px;
}

.block img:hover {
  transition: 0.5;
  border-radius: 20px;
}

.block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.past img:hover {
  transition: 0.5s;
}

.past img {
  transition: 0.5s;
}
.past img {
  width: 300px;
  height: 300px;
}
.buyBtn {
  background-color: #ffce5d;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}
.buyBtn:hover {
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  gap: 40px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #313131;
  padding: 20px;
  margin-top: 250px;
}

.contact-number {
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icons {
  display: flex;
  gap: 30px;
}
